{% extends 'base.html.twig' %}

{% block title %}Birds index{% endblock %}

{% block body %}
  <div class="title-image-container1">
        <img src="{{ asset('images/petirojoIzq.png') }}" alt="Birds Image">
        <h1>Birds index</h1>
    </div>
    
     <a class="btn btn-success" href="{{ path('app_birds_new') }}">Create new</a>
    <a class= "btn btn-success" href="{{ path('app_insect_index') }}">Ir a insects</a>
    <a class= "btn btn-success" href="{{ path('app_plant_index') }}">Ir a plants</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Link</th>
                <th>Song</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bird in birds %}
            <tr>
                <td>{{ bird.id }}</td>
                <td>{{ bird.name }}</td>
                <td>{{ bird.description }}</td>
                <td>{{ bird.image }}</td>
                <td>{{ bird.link }}</td>
                <td>{{ bird.song }}</td>
                <td>
                    <a type="button" class="btn btn-warning" href="{{ path('app_birds_show', {'id': bird.id}) }}">show</a>
                    <a class="btn btn-success1" href="{{ path('app_birds_edit', {'id': bird.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
