{% extends 'base.html.twig' %}

{% block title %}Insect index{% endblock %}

{% block body %}
<div class="title-image-container2">
    <img src="{{ asset('images/butterfly.svg') }}" alt="butterfly Image">
    <h1>Insect index</h1>
</div>
    <a class="btn btn-success" href="{{ path('app_insect_new') }}">Create new</a>
    <a class= "btn btn-success" href="{{ path('app_birds_index') }}">Volver a birds</a>
    <a class= "btn btn-success" href="{{ path('app_plant_index') }}">Ir a plants</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for insect in insects %}
            <tr>
                <td>{{ insect.id }}</td>
                <td>{{ insect.name }}</td>
                <td>{{ insect.description }}</td>
                <td>{{ insect.image }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_insect_show', {'id': insect.id}) }}">show</a>
                    <a class="btn btn-success1" href="{{ path('app_insect_edit', {'id': insect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    
{% endblock %}
